{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block collection_widget %}
<ul id="product_images" class="list-unstyled"
    data-prototype="{{
        form_widget(form.vars.prototype)|e('html_attr')
    }}">
    {% for child in form.children %}
        <li>{{ form_widget(child) }}</li>
    {% endfor %}
</ul>
{% endblock %}