{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content %}
    <h1>Product creation</h1>
    <hr>

    {% include "AppBundle:Admin/Product:_form.html.twig" %}

    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('app_admin_product_index') }}" class="btn btn-sm btn-default">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/product-images.js') }}"></script>
{% endblock javascripts %}
