<footer class="footer">
    <div class="container">
        <ul class="pull-left">
            <li>
                <a href="{{ path('app_home') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('app_shop_cart') }}">Panier</a>
            </li>
            <li>
                <a href="{{ path('app_contact') }}">Contact</a>
            </li>
        </ul>
        <ul class="pull-right">
            <li>
                <a href="{{ path('app_admin_dashboard') }}">Administration</a>
            </li>
        </ul>
    </div>
</footer>
